@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cookie&family=Lobster&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Garet';
    src: url('../font/Garet-Book.otf') format('opentype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Garet';
    src: url('../font/Garet-Heavy.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
}


body{
    margin: 0px;

}

#background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.5)
}

   


header{
    position: fixed;
    margin:0px; 
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    background-color: transparent;
    align-items: center;
    top:0px;
    
}

.header-img-container {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px;
}

.header-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-items: center;
    gap: 30px;
    margin-right: 100px;
    color:white;
    font-family:Arial, Helvetica, sans-serif; 
    font-size: 16px;
}

nav li{
    list-style: none;
}
main {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
   
}



main h1{
    font-size: 100px;
    font-weight: bold;
    color: #F2D9C7;
    font-family: Garet;
    width: 100%;
    margin-bottom: 10px;
    position: relative;
    left: 150px;

  
}

main h2{
    font-size: 40px;
    color: #bd9d8a;
    font-family: Garet;
    width: 100%;
    margin-top: 5px;
    position: relative;
    left: 230px;
    font-weight: normal;
}

br{
    text-indent: 50%;
   
}

b{
    color:#ede4dd
}

/* Inizialmente gli elementi sono traslati in basso */
main h1, main h2, .button {
    opacity: 0; /* Nasconde il testo */
    transform: translateY(50px);
    transition: opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

/* Quando aggiungiamo la classe .loaded, gli elementi tornano normali */
main h1.loaded {
    opacity: 1;
    transform: translateY(0);
}

main h2.loaded {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s; /* Fa apparire h2 con 1 secondo di ritardo */
}

.button.loaded{
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1s; /* Fa apparire h2 con 1 secondo di ritardo */
}

.indent{
    display: block;
    padding-left: 16%;
    
}

.button {
    width: fit-content;
    height: 70px;
    border-radius: 40px;
    position: relative;
    left: 150px; 
    top: 10px;

    border: solid 2px transparent;
    font-family: Garet;
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: #bd9d8a;
    transition: background-color 1s ease-in-out, opacity 1.5s ease-in-out, transform 1.5s ease-in-out;
}

.mouseon {
    background-color: #ac785a;
}

